QOBUZ_API_BASE = https://www.qobuz.com/api.json/0.2/
QOBUZ_APP_ID = 
QOBUZ_SECRET = 
QOBUZ_AUTH_TOKENS = QOBUZ_AUTH_TOKENS=["j3kLNegW7NfpWpnfqPas-vqpjXDrZSiHLk308AJqkMbgRUeNru80U7z5gOgYgKMSucnd3x9o7liVhiqZ-6rH5Q"]

NEXT_PUBLIC_APPLICATION_NAME = Qobuz-DL
NEXT_PUBLIC_GITHUB = https://github.com/QobuzDL/Qobuz-DL

#Leave these empty unless you know what you're doing
CORS_PROXY = 
SOCKS5_PROXY = 
